html,body
{
    margin: 0px;
    width: 100%;
    height: 100%;

    position: relative;
    background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);

}
p
{
    margin: 0px;
}

.main_box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 750px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;

    display: flex;
    flex-direction: row;

    overflow: auto;

    position: relative ;

}
.player
{
    flex: 1;
    height: 100%;

    position: relative;
    transition: all ease 0.3s;
    
}
.active
{
    background-color: rgba(255, 255, 255, 0.4);

    position: relative;
}

.div_all_elements
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    width: 150px;
    height: 70%;
    /* background-color: blanchedalmond; */

    display: flex;
    flex-direction: column;
    align-items: center;
}
.text_player
{
    width: 100%;
    height: 40px;
    /* background-color: aquamarine; */

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;

    font-family: Gilroy;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1.5px;
    
}
.text_player_score
{
    width: 100%;
    height: 60px;
    /* background-color: rgb(127, 140, 255); */

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 115px;

    font-family: Gilroy;
    font-weight: 500;
    font-size: 60px;
    letter-spacing: 1.5px;
    color: #c7365f;
}
.current_box
{
    width: 100%;
    height: 90px;
    background-color: #c7365f;

    border-radius: 7px;    
    overflow: hidden;
}
.text_current
{
    /* background-color: rgb(67, 167, 255); */

    display: flex;
    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 200, 200);
    font-size: 12px;

    margin-top: 15px;
}
.text_current_score
{
    /* background-color: aquamarine; */
    height: 55px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
    font-weight: 500;
    color: rgb(230, 230, 230);
}
